<!doctype html>
<html>

    <head>
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
        <link href="signup-style.css" rel="stylesheet" />
        <title>come in...</title>
        <style>
            h3 {text-align: center;}
        </style>
    </head>

    <body>
        <div class="container" id="signup">
            <h2 class="form-title">Account erstellen</h2>
            <form method="post" action="/create">
                <div class="input-group">
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password: </label>
                    <input type="password" name="passw" placeholder="password" required>
                </div>
                <button type="submit">registrieren</button>
                <br>
            </form>
        </div>
        <div class="container" id="login">
            <h3>du hast schon einen Account?</h3>
            <h2 class="form-title">einloggen</h2>
            <form method="post" action="/create">
                <div class="input-group">
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password: </label>
                    <input type="password" name="passw" placeholder="password" required>
                </div>
                <button type="submit">anmelden</button>
            </form>
        </div>
    </body>

</html>