<!doctype html>
<html>

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <style>
        * { font-family: VT323; }
        body { background: honeydew; }
        h2 {text-align: center;}
    </style>
</head>

<body>

<h2>
    Wie möchtest du aussehen?
</h2>

<input type="checkbox">
<img src="Gesicht_base.png" width="30%">
<img src="Gesicht_lachen.png" width="30%">
<input type="checkbox">
<br>
<input type="checkbox">
<img src="Gesicht_herz.png" width="30%">
<img src="Gesicht_traurig.png" width="30%">
<input type="checkbox">
<br><br>

<a href="/create2" class="center">
    <button>next</button>
</a>

</body>

</html>