<!doctype html>
<html>

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link href="styles.css" rel="stylesheet" />
    <style>
        button {
            width:60px;
            height:30px;
            background-color: dodgerblue;
        }
    </style>
    <title>mein profil</title>
</head>

<body>

<h1>hello [username]</h1>

<img src="meincharakter-placeholder.PNG" width="10%">

<a href="/create1">
<button>charakter ändern</button>
</a>
<br><br>
<a href="/quiz">
    <button>QUIZ STARTEN</button>
</a>

</body>

</html>