<!doctype html>
<html>

<head>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link href="styles.css" rel="stylesheet" />
    <title>PERSONALITY QUIZ</title>
    <style>
        body {padding: 150px;}
        * {
        text-align: center;
        font-size: 120%;
        }
        h1 {font-size:140%; font-type:bold;}
    </style>
</head>

<body>
<h1>"would you rather..."</h1>
<h2>PERSÖNLICHKEITS-TEST</h2>
<h3>teste dich hier!</h3>
<a href="signup">
    <button>START</button>
</a>
</body>

</html>